@model IEnumerable<PetShop.Models.S_Order>
@{
    ViewBag.Title = "Order_Submitted";
}

<div class="colorlib-loader"></div>

<div id="page">


    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread"><span><a href="index.html">Home</a></span> / <span>Purchase Complete</span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="colorlib-product">
        <div class="container">
            <div class="row row-pb-lg">
                <div class="col-sm-10 offset-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <p class="icon-addcart"><span><i class="icon-check"></i></span></p>
                    <h2 class="mb-4">Thank you for purchasing, Your order is complete</h2>
    
                </div>
            </div>
        </div>
    </div>


</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>
